In [2]:
# Load and View the dataset

import pandas as pd
df=pd.read_csv('customer_segmentation_data.csv')

df.head()

,id,age,gender,income,spending_score,membership_years,purchase_frequency,preferred_category,last_purchase_amount
0,1,38,Female,99342,90,3,24,Groceries,113.53
1,2,21,Female,78852,60,2,42,Sports,41.93
2,3,60,Female,126573,30,2,28,Clothing,424.36
3,4,40,Other,47099,74,9,5,Home & Garden,991.93
4,5,65,Female,140621,21,3,25,Electronics,347.08

In [3]:
#basic structure
df.info() #Check structure & data types: Nulls, types, total rows

#summary stats
df.describe() #View summary stats: Outliers, ranges, distributions

#check for missing values
df.isnull().sum() #Check for missing data: How much cleaning is needed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1000 non-null   int64
 1   age                   1000 non-null   int64
 2   gender                1000 non-null   object
 3   income                1000 non-null   int64
 4   spending_score        1000 non-null   int64
 5   membership_years      1000 non-null   int64
 6   purchase_frequency    1000 non-null   int64
 7   preferred_category    1000 non-null   object
 8   last_purchase_amount  1000 non-null   float64
dtypes: float64(1), int64(6), object(2)
memory usage: 70.4+ KB

id                      0
age                     0
gender                  0
income                  0
spending_score          0
membership_years        0
purchase_frequency      0
preferred_category      0
last_purchase_amount    0
dtype: int64